!!!
%html
   %head
      %title= title
      %link(rel="stylesheet" media="screen" type="text/css"){ :href => url('css/blueprint/screen.css') }
      %link(rel="stylesheet" media="screen" type="text/css"){ :href => url('css/style.css') }
   %body
      .container
         %header
            %a{:href => url('/')}
               .logo.round
                  Lari Kirby's<br />Stored Sheet Prototype
            != haml :nav_links
         %section.round
            %h1= title
            != yield
         %footer
            != haml :nav_links
         