%form#sheetform(method="post" action="")
   %h1
      %input#sheet_name{:type => "text", :value => "#{@sheet.sheet_name}"}/
   
   .gridcontainer#mygrid(style="width:100%;height:400px;")
   
   %input#savebtn(type="button" value="Save")
   .status
   .results
   
   = javascript_include_tag "application"
   
   :coffeescript
      sheet = new StoredSheet.Models.Sheet(#{fix_sheet_for_clientside(@sheet)})
      view = new StoredSheet.Views.NamedGrid({ model: sheet, el: $('#sheetform') })

   / :coffee
   /    sheet = #{fix_sheet_for_clientside(sheet)}
   /    # updateSheetField
   /    options = 
   /       editable: true,
   /       autoEdit: true,
   /       asyncEditorLoading: false,
   /       enableCellNavigation: true,
   /       enableColumnReorder: false
   /    cols = for index, col of sheet["columns"]
   /       col.editor = TextCellEditor
   /    grid = new Slick.Grid("#mygrid", sheet["rows"], sheet["columns"], options)
   /    
   /    updateSheetName = ->
   /       sheet.sheet_name = $("#sheet_name").val()
   /       # throw sheet
   /    
   /    successfulSave = (data, textStatus, jqXHR) ->
   /       sheet = data
   /       $(".status").empty().append(textStatus)
   /       # $(".results").empty().append(data)
   /       # throw jqXHR
   /    
   /    saveSheet = -> 
   /       cols = for index, col of sheet["columns"]
   /          col.editor = null
   /       # $(".results").load '/shts/'+sheet.id, sheet, successfulSave
   /       $.ajax({ type: 'POST', url: '/shts/'+sheet.id, data: sheet, success: successfulSave })
   /       # throw $("#sheetform")
   /    
   /    $("#sheet_name").bind("change", updateSheetName)
   /    $("#savebtn").bind("click", saveSheet)



!= render 'sheets/debug'
