!!!
%html
   %head
      %title= "#{@title} | Stored Sheets"
      = stylesheet_link_tag "blueprint/screen", media: "screen"
      = stylesheet_link_tag "blueprint/print", media: "print"
      = stylesheet_link_tag "cupertino/jquery-ui-1.8.16.custom"
      / %link(rel="stylesheet" media="screen" type="text/css"){ :href => '/grid/slick.grid.css' }
      = stylesheet_link_tag "application"
   %body
      .container
         %header
            %a{:href => '/'}
               .logo.round
                  Lari Kirby's<br />Stored Sheet Prototype
            != render 'layouts/nav_links'
         %section.round
            != yield
         %footer
            != render 'layouts/nav_links'
