!!!
%html
   %head
      %title= "#{@title} | Stored Sheets"
      %link(rel="stylesheet" media="screen" type="text/css"){ :href => '/css/blueprint/screen.css' }
      %link(rel="stylesheet" media="print" type="text/css"){ :href => '/css/blueprint/print.css' }
      %link(rel="stylesheet" type="text/css"){ :href => '/css/cupertino/jquery-ui-1.8.16.custom.css' }
      %link(rel="stylesheet" media="screen" type="text/css"){ :href => '/grid/slick.grid.css' }
      %link(rel="stylesheet" media="screen" type="text/css"){ :href => '/css/style.css' }
   %body
      .container
         %header
            %a{:href => '/'}
               .logo.round
                  Lari Kirby's<br />Stored Sheet Prototype
            != render 'layouts/nav_links'
         %section.round
            != yield
         %footer
            != render 'layouts/nav_links'
